body {
    background-color: white !important;
    padding-top: 0px !important;
    border-color: red;
}

.btn-primary {
    color: red !important;
    background-color: white !important;
    border-color: white !important;
}

label {
    color: black;
}

.btn-link {
    color: white;
}